html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
button{
  cursor: pointer;
}
$headColor : hsl(339, 78%, 49%);

.desktop{
  display: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}


@media (max-width:576px) {
  .desktop{
    display: none;
  }
}